.product{
  margin: 20px;
  align-items: center;
}
.product-image{
  width: 250px;
}
.product-details h1{
  font-size: 30px;
  color: blueviolet;
}
.product-color{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.btn{
  margin: 12px;
}
.quantity-group input{
  width: 20%;
}
