input{
  border: 2px solid blueviolet;
  font-size: 20px;
  padding: 6px;
}
button{
  border: 2px solid blueviolet;
  font-size: 18px;
  border-radius: 0px;
  background-color: rgba(137, 43, 226, 0.584);
}
button:hover{
  background-color: blueviolet;
  color: black;
}
.common-form{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px auto;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 20px;
  box-shadow:19px 30px 300px  rgba(0, 0, 0, 0.402);
  width: 60%;
}
#myheading{
  color: blueviolet;
  font-size: 2rem;
}
