.carousel-caption{
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.715);
  object-fit: contain;
}
.product{
  height: 300px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
}
.productImage img{
  padding: 5px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.productOperations a{
  padding:0px 8px;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.productOperations{
  position:absolute ;
  border-top: 1px solid #ddd;
}

.productDescription{
  border-top: 1px solid #ddd;
}
